<div class="container">
    <div class="header">
    <div class="title">
        <h4>Master Classes</h4>
    </div>
  
        <a href="/" class="btn btn-primary" >Add Subject</a> 

    </div>


   

</div>


<section class="container mt-4">
    <div class="subject">
        
        <div class="card ">
          
        </div>
        <div class="card">
            
        </div>
        <div class="card">
            
        </div>
        <div class="card">
            
        </div>
        <div class="card">
            
        </div>
    </div>

</section>
